In [83]:
import pandas as pd

In [84]:
df1 = pd.read_excel('claims-2002-2006_0.xls')
df2 = pd.read_excel('claims-2007-2009_0.xls')
df3 = pd.read_excel('claims-2010-2013_0.xls')
df4 = pd.read_excel('claims-2014.xls')

In [85]:
# Count the rows for each dataframe
num_rows_df1 = len(df1)
num_rows_df2 = len(df2)
num_rows_df3 = len(df3)
num_rows_df4 = len(df4)

# Sum the row counts
total_num_rows = num_rows_df1 + num_rows_df2 + num_rows_df3 + num_rows_df4

# Print the result
print(total_num_rows)

195596

In [86]:
# Collect the columns of each dataframe in a set
columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

In [87]:
# Print the different columns
print("Columns of df1:", df1.columns)
print("Columns of df2:", df2.columns)
print("Columns of df3:", df3.columns)
print("Columns of df4:", df4.columns)

Columns of df1: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site', 'Item',
       'Claim Amount', 'Status', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df2: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site', 'Item',
       'Claim Amount', 'Status', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df3: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site',
       'Item Category', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df4: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site',
       'Item Category', 'Close Amount', 'Disposition'],
      dtype='object')

In [88]:
# Collect the columns of each dataframe in a set
columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

# Find the different columns 
different_columns = columns_1.difference(columns_2).union(columns_2.difference(columns_3)).union(columns_3.difference(columns_4)).union(
columns_4.difference(columns_1))

# Print the different columns for the 4 datasets
print(different_columns)

{'Item', 'Item Category', 'Claim Amount', 'Status'}

In [89]:
subset = df2.loc[0:9, ['Disposition', 'Status']]

# Print the subset dataframe
print(subset)

       Disposition                                             Status
0             Deny                                             Denied
1             Deny                                             Denied
2             Deny                                             Denied
3             Deny                                             Denied
4              NaN  Insufficient, one of the following items requi...
5  Approve in Full                                           Approved
6  Approve in Full                                           Approved
7  Approve in Full                                           Approved
8  Approve in Full                                           Approved
9  Approve in Full                                           Approved

# item differences
The differences in the columns from the datasets are 'Item Category', 'Item', 'Status' and 'Claim Amount'.

Item category and item is the same so there going to take the same name. claim amound is only in dataset claims-2007-2009_0.xls and reports the amount of money the victim was asking . due to the fact that this column is only in 1 of our 4 datasets it will be deleted. Status again is only in claims-2007-2009_0.xls and contains the information of disposition among a few more details . so Status will be renamed disposition and the column disposition is goint to be deleted

In [90]:
# Drop the "claim amount" column from df2 and disposition for df2
df1 = df1.drop(columns=['Claim Amount'])
df1 = df1.drop(columns=['Disposition'])
df1 = df1.rename(columns={'Status': 'Disposition'})

# Drop the "claim amount" column from df2 and disposition for df2
df2 = df2.drop(columns=['Claim Amount'])
df2 = df2.drop(columns=['Disposition'])
df2 = df2.rename(columns={'Status': 'Disposition'})


# Rename the "Item Category" column to "Item" in df3
df3 = df3.rename(columns={'Item Category': 'Item'})

# Rename the "Item Category" column to "Item" in df4
df4 = df4.rename(columns={'Item Category': 'Item'})

In [91]:

columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

# Find the different columns 
different_columns = columns_1.difference(columns_2).union(columns_2.difference(columns_3)).union(columns_3.difference(columns_4)).union(
columns_4.difference(columns_1))

# Print the different columns for the 4 datasets to see any remaining differences
print(different_columns)

set()

In [92]:
# Concatenate the dataframes together
final_df = pd.concat([df1, df2, df3, df4])
print(final_df.head(5))

print('Number of columns:', final_df.shape[1])
final_df.info()

    Claim Number        Date Received        Incident Date Airport Code
0       0909802M  2002-01-04 00:00:00  2002-12-12 00:00:00          EWR  \
1       0202417M  2002-02-02 00:00:00  2004-01-16 00:00:00          SEA
2       0202445M  2002-02-04 00:00:00  2003-11-26 00:00:00          STL
3       0909816M  2002-02-07 00:00:00  2003-01-06 00:00:00          MIA
4  2005032379513  2002-02-18 00:00:00  2005-02-05 00:00:00          MCO

                      Airport Name          Airline Name       Claim Type
0     Newark International Airport  Continental Airlines  Property Damage  \
1     Seattle-Tacoma International                   NaN  Property Damage
2  Lambert St. Louis International     American Airlines  Property Damage
3      Miami International Airport     American Airlines  Property Damage
4    Orlando International Airport          Delta (Song)  Property Damage

        Claim Site                                        Item Disposition
0       Checkpoint                                       Other    Approved  \
1  Checked Baggage   Luggage (all types including footlockers)     Settled
2  Checked Baggage                                 Cell Phones     Settled
3       Checkpoint   Luggage (all types including footlockers)    Approved
4       Checkpoint  Baby - Strollers, car seats, playpen, etc.    Approved

  Close Amount
0        350.0
1         50.0
2       227.92
3         50.0
4        84.79
Number of columns: 11
<class 'pandas.core.frame.DataFrame'>
Index: 195596 entries, 0 to 8854
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Claim Number   195596 non-null  object
 1   Date Received  195337 non-null  object
 2   Incident Date  193417 non-null  object
 3   Airport Code   187076 non-null  object
 4   Airport Name   187076 non-null  object
 5   Airline Name   161226 non-null  object
 6   Claim Type     187687 non-null  object
 7   Claim Site     194860 non-null  object
 8   Item           191634 non-null  object
 9   Disposition    195595 non-null  object
 10  Close Amount   185767 non-null  object
dtypes: object(11)
memory usage: 17.9+ MB

In [93]:
empty_values = final_df.isnull().sum()
print("The empty values for each column are: \n",empty_values)

The empty values for each column are:
 Claim Number         0
Date Received      259
Incident Date     2179
Airport Code      8520
Airport Name      8520
Airline Name     34370
Claim Type        7909
Claim Site         736
Item              3962
Disposition          1
Close Amount      9829
dtype: int64

The Date Received and Incident Date will be converted to a datetime type. Then,  the date portion of the datetime will be extracted only using the dt.date attribute and assign it back to the same column.The argument errors='coerce' will replace invalid datetimes with NaT (not a datetime)

In [94]:
final_df['Date Received'] = pd.to_datetime(final_df['Date Received'], errors='coerce').dt.date
final_df['Incident Date'] = pd.to_datetime(final_df['Incident Date'], errors='coerce').dt.date

In [95]:
date_cols = ['Date Received', 'Incident Date']
for col in date_cols:
    na_count = final_df[col].isna().sum()
    print("The number of NaT values in the '{}' column is: {}".format(col, na_count))

The number of NaT values in the 'Date Received' column is: 270
The number of NaT values in the 'Incident Date' column is: 2343

##### droprows from 2002 2003 and 2004
drop the rows that contain the years 2002-2003-2004 as we want the data from 2005 and above

In [96]:
final_df['Incident Date'] = pd.to_datetime(final_df['Incident Date'])
final_df['Date Received'] = pd.to_datetime(final_df['Date Received'])
mask = final_df['Incident Date'].dt.year > 2004
final_df = final_df.loc[mask]

mask = (final_df['Date Received'].dt.year >= 2005) & (final_df['Date Received'].dt.year <= 2014)
final_df = final_df.loc[mask]

In [97]:
years = final_df['Incident Date'].dt.year.unique()
print(years)
years = final_df['Date Received'].dt.year.unique()
print(years)

[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]
[2005 2006 2007 2008 2009 2010 2011 2012 2013 2014]

In [98]:

final_df['Disposition'] = final_df['Disposition'].replace({'Approve in Full': 'Approved',
                                               'Denied': 'Denied/Canceled',
                                               'Settle': 'Settled',
                                               'Canceled':'Denied/Canceled',
                                               '-':'Denied/Canceled',
                                               'Claim has been assigned for further investigation':'In review',
                                               'Closed as a contractor claim':'Settled',
                                               'Deny':'Denied/Canceled'})

In [101]:
unique_dispositions = final_df['Disposition'].unique()
print(unique_dispositions)

['Approved' 'Denied/Canceled' 'Settled'
 'Insufficient, one of the following items required: sum certain, statement of fact, signature, location of incident, and date.'
 'In litigation' 'In review' 'Pending response from claimant']

In [107]:
unique_string_values = final_df.loc[final_df['Close Amount'].apply(lambda x: isinstance(x, str)), 'Close Amount'].unique()
print(unique_string_values)

['-']

In [108]:
# Assuming your dataset is stored in a pandas DataFrame called 'final_df'
final_df['Close Amount'] = final_df['Close Amount'].replace('-', 0)

In [110]:
final_df.to_excel('final_dataframe.xlsx', index=False)