In [35]:
import pandas as pd

In [36]:
df1 = pd.read_excel('claims-2002-2006_0.xls')
df2 = pd.read_excel('claims-2007-2009_0.xls')
df3 = pd.read_excel('claims-2010-2013_0.xls')
df4 = pd.read_excel('claims-2014.xls')

In [38]:
# Count the rows for each dataframe
num_rows_df1 = len(df1)
num_rows_df2 = len(df2)
num_rows_df3 = len(df3)
num_rows_df4 = len(df4)

# Sum the row counts
total_num_rows = num_rows_df1 + num_rows_df2 + num_rows_df3 + num_rows_df4

# Print the result
print(total_num_rows)

195596

In [39]:
# Collect the columns of each dataframe in a set
columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

In [40]:
# Print the different columns
print("Columns of df1:", df1.columns)
print("Columns of df2:", df2.columns)
print("Columns of df3:", df3.columns)
print("Columns of df4:", df4.columns)

Columns of df1: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site', 'Item',
       'Claim Amount', 'Status', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df2: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site', 'Item',
       'Claim Amount', 'Status', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df3: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site',
       'Item Category', 'Close Amount', 'Disposition'],
      dtype='object')
Columns of df4: Index(['Claim Number', 'Date Received', 'Incident Date', 'Airport Code',
       'Airport Name', 'Airline Name', 'Claim Type', 'Claim Site',
       'Item Category', 'Close Amount', 'Disposition'],
      dtype='object')

In [41]:
# Collect the columns of each dataframe in a set
columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

# Find the different columns 
different_columns = columns_1.difference(columns_2).union(columns_2.difference(columns_3)).union(columns_3.difference(columns_4)).union(
columns_4.difference(columns_1))

# Print the different columns for the 4 datasets
print(different_columns)

{'Item Category', 'Item', 'Status', 'Claim Amount'}

In [42]:
subset = df2.loc[0:9, ['Disposition', 'Status']]

# Print the subset dataframe
print(subset)

       Disposition                                             Status
0             Deny                                             Denied
1             Deny                                             Denied
2             Deny                                             Denied
3             Deny                                             Denied
4              NaN  Insufficient, one of the following items requi...
5  Approve in Full                                           Approved
6  Approve in Full                                           Approved
7  Approve in Full                                           Approved
8  Approve in Full                                           Approved
9  Approve in Full                                           Approved

# item differences
The differences in the columns from the datasets are 'Item Category', 'Item', 'Status' and 'Claim Amount'.

Item category and item is the same so there going to take the same name. claim amound is only in dataset claims-2007-2009_0.xls and reports the amount of money the victim was asking . due to the fact that this column is only in 1 of our 4 datasets it will be deleted. Status again is only in claims-2007-2009_0.xls and contains the information of disposition among a few more details . so Status will be renamed disposition and the column disposition is goint to be deleted

In [43]:
# Drop the "claim amount" column from df2 and disposition for df2
df1 = df1.drop(columns=['Claim Amount'])
df1 = df1.drop(columns=['Disposition'])
df1 = df1.rename(columns={'Status': 'Disposition'})

# Drop the "claim amount" column from df2 and disposition for df2
df2 = df2.drop(columns=['Claim Amount'])
df2 = df2.drop(columns=['Disposition'])
df2 = df2.rename(columns={'Status': 'Disposition'})


# Rename the "Item Category" column to "Item" in df3
df3 = df3.rename(columns={'Item Category': 'Item'})

# Rename the "Item Category" column to "Item" in df4
df4 = df4.rename(columns={'Item Category': 'Item'})

In [44]:

columns_1 = set(df1.columns)
columns_2 = set(df2.columns)
columns_3 = set(df3.columns)
columns_4 = set(df4.columns)

# Find the different columns 
different_columns = columns_1.difference(columns_2).union(columns_2.difference(columns_3)).union(columns_3.difference(columns_4)).union(
columns_4.difference(columns_1))

# Print the different columns for the 4 datasets to see any remaining differences
print(different_columns)

set()

In [45]:
# Concatenate the dataframes together
final_df = pd.concat([df1, df2, df3, df4])
# print(final_df.head(5))

print('Number of columns:', final_df.shape[1])
final_df.info()

Number of columns: 11
<class 'pandas.core.frame.DataFrame'>
Index: 195596 entries, 0 to 8854
Data columns (total 11 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Claim Number   195596 non-null  object
 1   Date Received  195337 non-null  object
 2   Incident Date  193417 non-null  object
 3   Airport Code   187076 non-null  object
 4   Airport Name   187076 non-null  object
 5   Airline Name   161226 non-null  object
 6   Claim Type     187687 non-null  object
 7   Claim Site     194860 non-null  object
 8   Item           191634 non-null  object
 9   Disposition    195595 non-null  object
 10  Close Amount   185767 non-null  object
dtypes: object(11)
memory usage: 17.9+ MB